<div class="main-div">
  <mat-card class="center">
    <mat-card-header>
      <mat-card-title>Create Account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Username" ype="email" formControlName="email" class="form-control" required>
              </mat-form-field>
              <label class="error">{{errorMessage}}</label>
              <label class="success">{{successMessage}}</label>
            </td>
          </tr>
          <tr>
            <td><mat-form-field>
              <input matInput placeholder="Password" type="password" class="form-control" formControlName="password" required>
            </mat-form-field></td>
          </tr></table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="tryRegister(registerForm.value)"  color="primary">Register</button>
    </mat-card-actions>

    <mat-card-actions>
      <button mat-raised-button [color]="'accent'" (click)="tryGoogleLogin()" color="primary">Register with Google</button>
      <div> Already have an account? ? <a  href="#/login" color="primary">Login</a></div>
    </mat-card-actions>
  </mat-card>
</div>
