<div class="main-div">
  <mat-card class="center">
    <mat-card-header>
      <mat-card-title><b>{{user.name}}</b></mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="user.image" alt="Avatar" class="profile">
    <mat-card-content>
      <br>

      <div *ngIf='user.provider == "password"'class="card-body">
        <p>Change your Name</p>
        <form [formGroup]="profileForm">
          <mat-form-field>
            <input matInput type="text" formControlName="name" class="form-control" required>
          </mat-form-field>
          <button mat-button (click)="save(profileForm.value)" color="primary">Save</button>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="logout()" color="accent">Logout</button>
    </mat-card-actions>
  </mat-card>

</div>
